.bottom-line-title > h4 {
    margin: 0;
}
.bottom-line-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 30px;
    margin-bottom: 16px;
    font-size: 1.2rem;
    padding-bottom: 8px;
}

.bottom-line-contents::after {
    position: absolute;
    width: 100%;
    bottom: -8px;
    left: 0;
    border: 1.5px solid var(--main-purple-color);
    border-radius: 2.5px;
    border-radius: 10px;
    content: '';
    z-index: 999;
}
.bottom-line-contents {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    z-index: 10;
    font-weight: bold;
    font-size: 1.2em;
}

.bottom-line-contents+div {
    position: absolute;
    bottom: 0;
    z-index: 9;
    width: 100%;
    border-bottom: 2.5px solid var(--sub-grey-color2);
}

.bottom-line-text-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}