.custom-table-header:not(.no-margin) {
  margin-bottom: 8px;
}

.custom-table-header.no-search {
  justify-content: flex-end;
}

.custom-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table-no-data {
  height: 200px;
  border-bottom: none;
  border-top: none;
  text-align: center;
  color: var(--sub-grey-color3);
}

.table-search-container>button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.table-search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  height: 36px;
}

.custom-table,
.custom-table table {
  width: 100%;
  border-collapse: collapse;
}

.table-st1 thead tr>th {
  font-weight: 500;
  padding: 10px;
  position: relative;
  user-select: none;
}

.table-st1 thead tr>th>div {
  color: var(--main-grey-color2);
}

.table-st1 thead tr>th:has(.custom-table-filter-icon) {
  padding-right: 28px;
}

.table-st1 thead tr {
  background-color: var(--sub-grey-color);
}

.table-st2 thead tr>th {
  font-weight: 500;
  padding: 10px;
  color: #aaa;
}

.table-st2 thead tr {
  background-color: var(--sub-grey-color);
}

.table-st1 td {
  padding: 6px 10px;
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
}

.table-st1 tbody tr {
  height: 40px;
  border-bottom: .1px solid var(--sub-grey-color6);
}

.table-st1 a th {
  padding: 10px;
  background-color: #e8e8e8;
  color: rgba(0, 0, 0, .44);
}

.table-st1 a td {
  padding: 10px;
  text-align: center;
}

.table-st1 tr.hover {
  background-color: var(--sub-purple-color3);
}

.table-search-input>input {
  text-align: center;
  border: 1px solid var(--sub-grey-color3);
  width: 300px;
  height: 36px;
  box-sizing: border-box;
}

.custom-table-header:not(.no-search)>.custom-table-header-buttons {
  height: 36px;
}

.custom-table-header-buttons>button {
  height: 100%;
}

.custom-table-header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.custom-pagination .ant-pagination-item-link-icon {
  color: var(--main-purple-color) !important;
}

.custom-pagination .ant-pagination-item {
  border-radius: 100%;
  margin-inline-end: 4px;
}

.custom-pagination .ant-pagination-item-active>a {
  color: var(--main-white-color) !important;
}

.custom-pagination .ant-pagination-item-active {
  border: none;
  background-color: var(--main-purple-color);
}

.custom-pagination .ant-select-selector {
  cursor: pointer !important;
}

th >.custom-table-filter-icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 6px;
  padding: 2px;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.custom-table-sort-icon {
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  padding: 2px;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.2s ease;
}

.custom-table-sort-icon.has-filter {
  right: 30px;
}

.custom-table-sort-icon svg {
  width: 100%;
  height: 100%;
}