.auth-log-tab > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list {
    width: 100%;
}

.auth-log-tab > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > div {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.auth-log-tab .ant-tabs-tab.ant-tabs-tab-active {
    border: 1px solid var(--main-purple-color);
}

.auth-log-tab .ant-tabs-tab.ant-tabs-tab-active > .ant-tabs-tab-btn{
    color: var(--main-purple-color);
}

.custom-table-total-count-container {
    text-align: end;
    width: 100%;
    font-size: .7rem;
}