.custom-select-container {
  display: inline-block;
    background-image: url(../../assets/arrowDownIcon.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px 18px;
    padding: 0px 12px;
    padding-right: 40px;
    position: relative;
    height: 36px;
    box-sizing: border-box;
    line-height: 36px;
    min-width: 200px;
    color: var(--sub-grey-color4);
    border: 1px solid var(--sub-grey-color5);
    border-radius: 6px;
    user-select: none;
    text-align: center;
    cursor: pointer;
    z-index: 90;
    & > select {
      display: none;
    }
    &.opened {
      background-image: url(../../assets/arrowUpIcon.png);
      z-index: 98;
    }
  }
  
  .custom-select-option-container {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 4px;
    background-color: var(--main-white-color);
    border-radius: 4px;
    top: calc(100% + 4px);
    left: 0;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 99;
  }
  
  .custom-select-option-item {
    color: var(--main-grey-color2);
    cursor: pointer;
    border-radius: 6px;
    margin: 2px 0;
    &:hover {
      color: var(--sub-grey-color4);
      background-color: var(--sub-grey-color8);
    }
    &.selected {
      color: var(--main-purple-color2);
      background-color: var(--sub-purple-color5);
    }
  }