.custom-image-upload-container {
    height: 314px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.custom-image-upload-box {
    border: 1px solid var(--sub-grey-color5);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
    position: relative;
    padding: 12px;
    overflow: hidden;
    user-select: none;
    & > img {
        max-width: 95%;
        max-height: 95%;
    }
}

.custom-image-delete-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    font-size: .8rem;
    align-items: center;
    /* color: var(--main-grey-color); */
    color: var(--main-red-color);
    cursor: pointer;
    & > img {
        width: 36px;
        height: 36px;
    }
}

.custom-image-upload-text {
    text-align: center;
    height: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--main-purple-color);
    font-size: .8rem;
}