.custom-detail-label-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 0;
    width: 100%;
    position: relative;
}

.custom-detail-label {
    flex: 0 0 200px;
    height: 100%;
    color: var(--main-grey-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.custom-detail-contents {
    flex: 1;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 12px;
    column-gap: 16px;
    
    &>.custom-input-wrapper {
        flex: 0 0 85%;
        height: 42px;
    }
    
    &>textarea {
        flex: 0 0 82%;
        height: 36px;
        padding: 20px 12px;
    }
}

.custom-detail-contents[data-vertical="true"] {
    flex-direction: column;
    align-items: flex-start;
}

.with-button-input-row {
    height: 44px;
    flex: 0 0 80%;
    display: inline-flex;

    &>input {
        height: 36px;
        flex: 0 0 100%;
    }
}