.custom-detail-policy-navigate-text>a:hover {
    text-decoration: underline;
}

.custom-detail-policy-navigate-text>a {
    color: var(--main-purple-color);
    text-decoration: none;
    font-weight: bold;
}

.custom-detail-policy-navigate-text {
    position: absolute;
    left: 4px;
    top: 110%;
    height: 24px;
    font-size: .8rem;
}

.custom-select-box {
    border-radius: 6px;
    padding: .4rem 1.6rem;
    margin-bottom: 6px;
}

.custom-select-box-container {
    position: relative;
    margin-bottom: 8px;
}

.custom-select-box-container>div {
    white-space: nowrap;
}