.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-background-color);
}

.signup-header {
  font-weight: bold;
  font-size: 2.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #5840d9, #4715FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 36px;
  gap: 8px;
}

.signup-header > img {
  width: 48px;
  height: 48px;
}

.signup-content {
  background-color: white;
  border: none;
  width: 520px;
  padding: 50px;
  border-radius: 12px;
}

.signup-content.first {
  
}
.signup-content.second {
  
}

.signup-content.signup-complete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px;
}

.signup-content.signup-complete>div {
  border-radius: 6px;
  background-color: var(--sub-purple-color2);
  color: var(--main-purple-color);
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  padding: 12px 36px;
  white-space: pre-wrap;
  box-sizing: border-box;
  width: 100%;
}

.agree-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.agree-text.all {
  margin-bottom: 32px;
}

.agree-text.sub {
  margin-bottom: 8px;
  font-size: .8rem;
}

.agree-container {
  padding: 8px 24px;
  height: 205px;
  border: 1px solid var(--main-grey-color);
  margin-bottom: 24px;
}

.agree-inner {
  overflow-y: auto;
  height: 100%;
  font-size: 0.8rem;
  line-height: 20px;
}

.agree-button {
  width: 100%;
  height: 62px;
  border-radius: 12px;
  font-size: 1.12rem;
  font-weight: bold;
  margin-bottom: 12px;
  background-color: var(--sub-grey-color3);
  color: var(--main-white-color);
}

.signup-password-icon {
  position: relative;
  top: 55px;
  left: 410px;
  width: 30px;
  cursor: pointer;
}

.signup-input-row {
  margin-bottom: 20px;
}

.signup-input-row-inner {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.signup-input-row-inner > .custom-input-wrapper {
  flex: 1 1 40px;
  height: 40px;
}
.signup-input-row-label {
  margin-bottom: 4px;
}

.signup-complete {
  margin-top: 0px;
}

.signup-duplicate-check {
  width: 25%;
  height: 40px;
  margin-left: 12px;
  font-size: 0.9rem;
}

.circleNumber {
  margin: 0 6px;
  background-color: var(--main-purple-color2);
  color: var(--main-white-color);
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: .65rem;
  margin-top: 2px;
}

.sign-up-readonly:read-only {
  background-color: var(--main-grey-color2);
}


@media (max-width:767px) {
  /* 모바일 세로 */
  .signup-container {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .signup-header {
    font-size: 1.4rem;
    margin-bottom: 0;
    padding: 12px 0;
  }
  .signup-header > img {
    width: 30px;
    height: 30px;
  }
  .signup-content {
    overflow-y: auto;
    height: 80%;
    background-color: white;
    width: 100%;
    padding: 12px 8px;
    border-radius: 0;
    box-sizing: border-box;
  }
  .agree-container {
    padding: 6px 12px;
  }
  .agree-text {
    font-size: .75rem;
  }
  .copyRight-style.sign-up {
    margin-bottom: 12px;
  }
  .circleNumber {
    width: 22px;
    height: 13px;
    margin: 3.5px 4px 0 0;
    font-size: .5rem;
  }
  .agree-subscription {
    font-size: .7rem;
  }
  .agree-inner h3 {
    font-size: .9rem;
  }
  .agree-inner h4 {
    font-size: .8rem;
  }
  .agree-inner li {
    font-size: .65rem;
    word-break: keep-all;
  }
  .agree-button {
    height: 40px;
    font-size: .9rem;
  }
  .signup-duplicate-check {
    font-size: .75rem;
    word-break: keep-all;
  }
  .signup-input-row-label {
    font-size: .8rem;
  }
}