.billing-contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-description-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.billing-item-container {
    padding: 32px 0;
}

.plan-box {
    padding: 12px;
    padding-top: 22px;
    /* border: 2px solid var(--main-purple-color); */
    border-radius: 16px;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.plan-box.selected {
    /* padding-top: 28px; */
    border: 2px solid var(--main-purple-color);
}

.plan-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    text-align: center;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 20px;
    line-height: 20px;
    background-color: var(--main-purple-color);
    color: white;
    padding: 1px 8px;
    border-radius: 12px;
    font-size: .66rem;
    font-weight: bold;
}

.plan-selected > img {
    height: 14px;
    width: 14px;
}

.plan-selected-expired-text {
    margin-left: 2px;
    font-size: .6rem;
    color: var(--main-red-color);
}

.plan-title {
    text-align: center;
}

.plan-price-container {
    width: 100%;
    flex: 0 0 80px;
    background-color: var(--sub-purple-color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 12px 0;
    gap: 8px;
}

.plan-price-number {
    font-size: 1.6rem;
    margin-right: 8px;
}

.plan-price-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plan_sub_price_text {
    font-size: .7rem;
    color: #777777;
}

.plan-description-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.plan-description-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    gap: 12px;
    font-size: .7rem;
    height: 24px;
}

.plan-description-icon>img {
    height: 50%;
}
.plan-description-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billing-user-nums-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    font-size: 1.6rem;
    font-weight: bold;
}

.billing-current-user-nums {
    color: var(--main-purple-color);
}

.billing-current-user-gauge-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 44px;
    margin-top: 12px;
    gap: 12px;
}

.billing-current-user-gauge-container > img {
    width: 30px;
    height: 30px;
}

.billing-current-plan-user-gauge {
    background-color: var(--sub-purple-color2);
    width: 340px;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.billing-current-plan-user-gauge-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    background-color: var(--main-purple-color);
    border-radius: 20px;
    transition: width .2s ease-out;
}

.billing-input-row {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.billing-input-label {
    flex: 0 0 240px;
    text-align: end;
    height: 30px;
}

.billing-input-contents {
    flex: 1;
    align-self: center;
    min-height: 30px;
}

.billing-a-tag:hover {
    text-decoration: underline;
}
.billing-a-tag {
    color: var(--main-purple-color);
    text-decoration: none;
}

.billing-agree-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}