.information_list_header {
  width: 1350px;
}

.information_list_search_reset {
  opacity: 0.5;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  top: 3px;
}

.tab_table_list > thead > tr > th {
  position: relative;
}

.information-env-col-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}