.information_detail_header {
  width: 1100px;
}

.information_detail_user_btn {
  padding: 7px 11px;
  border-radius: 5px;
  margin: 0 5px;
  position: relative;
  top: 15px;
}

.information_detail_btn {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 4px 5px;
  width: 47px;
  /* height: 32px; */
}

.user_info_table tbody tr td {
  padding: 5px;
}

.user_info_table tbody tr td:first-child {
  width: 120px;
}

.user_info_table.title_color tbody tr td:first-child {
  color: #b7b7b7;
  width: 120px;
}

.user_info_table tbody tr td{
  height: 30px;
}

.user_info_table tbody tr td input{
  height: 25px;
  border-radius: 3px;
  font-size: 0.95rem;
}

.information_detail_section {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  padding: 5px 25px 25px;
  min-width: 840px;
  width: 1100px;
}

.information_detail_alias_title {
  position: relative;
  top: 5px;
}

.information_detail_alias_title.top {
  top: -9px;
}

.information_detail_alias {
  /* border: 1px #ccc solid; */
  /* padding: 10px; */
  /* border-radius: 5px; */
  margin-left: 15px;
  font-weight: 500;
  position: relative;
  top: 2.8px;
  /* color: #aaa; */
}

.information_detail_alias {
  top: -9px;
}

.information_detail_alias_img {
  width: 33px;
  height: 30px;
  position: relative;
  top: 8px;
  margin-right: 3px;
  margin-left: 10px;
}

.information_detail_device_delete_btn {
  padding: 5px 10px;
  border-radius: 5px;
  height: 28px;  
  position: relative;
  top: 18px;
}

.information_detail_device_container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 20px;
}

.information_detail_device_container div ul li:first-child {
  margin-bottom: 16px;
}

.information_detail_update_date {
  font-size: 0.9rem;
  margin-top: 24px;
}

.information_detail_button {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 10px;
  width: 95px;
  height: 40px;
  margin: 0px 10px;
}

.information_detail_add_allow_account_table tr th:nth-child(4) {
  width: 10%;
}

.information_detail_add_allow_account_table tr th:not(:nth-child(4)) {
  width: 30%;
}

.information_detail_add_allow_account_input {
  height: 30px;
  border-radius: 5px;
}

.information_detail_save_btn {
  padding: 5px 10px;
  border-radius: 5px; 
  position: relative;
  top: 18px;
  height: 20px;
  font-size: 0.85rem;
  display: inline-block;
  margin-right: 10px;
}

.information_detail_passcode_setting {
  display: none;
}

.information_detail_passcode_setting.visible {
  display: block;
}

.information_detail_passcode_setting_content {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0 1rem 1rem;
  border-radius: 5px;
  width: 32%;
}

.information_detail_passcode_setting_content.width_40 {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0 1rem 1rem;
  border-radius: 5px;
  width: 40%;
}

.information_detail_passcode_setting_content_input {
  border-radius: 5px;
  border: 0.5px solid #ccc;
  height: 30px;
  width: 48px;
}

.information_detail_img_resizing {
  width: 100px;
  height: 100px;
  margin: 20px;
}