input[type="checkbox"] {
  transform: scale(1.3);
}

.tab_search_ul {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  font-weight: 600;
}

.tab_search_checkbox {
  position: relative;
  top: 13px;
}

.tab_search_input {
  height: 40px;
  width: 380px;
  border-radius: 7px;
  position: relative;
  top: -5px;
}

.tab_search_button {
  font-size: 0.99rem;
  height: 43px;
  width: 80px;
  border-radius: 10px;
  position: relative;
  top: -5px;
  margin-left: 20px;
}

.tab_search_button.en {
  width: 90px;
}

.tab_search_button_img {
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.tab_table_list tbody tr td {
  width: 20%;
}

.tab_table_list tbody tr td:nth-child(1) {
  width: 15%;
}
.tab_table_list tbody tr td:nth-child(3) {
  width: 15%;
}
.tab_table_list tbody tr td:nth-child(6) {
  width: 30%;
}

.tab_table_sorting_image {
  position: relative;
  top: 2px;
  margin-left: 6px;
}

.tab_table_sorting_image.opac {
  opacity: 0.44;
}

.tab_table_sorting_dropdown {
  position: absolute;
  margin-top: 10.5px;
}

.tab_table_sorting_dropdown.name {
  margin-left: 74px;
}

.tab_table_sorting_dropdown.username {
  margin-left: 134px;
}

.tab_table_sorting_dropdown.os {
  margin-left: 92px;
}

.tab_table_sorting_dropdown.lastLoginDate {
  margin-left: 125px;
}

.tab_table_sorting_dropdown.enablePasscodeCount {
  margin-left: 42px;
}

.tab_table_sorting_dropdown.role {
  margin-left: 70px;
}

.manager-mark.red {
  background-color: #e02828;
}

.tab_download_upload_button {
  margin: 10px;
  width: 230px;
  height: 53px;
  border-radius: 14px;
  font-size: 0.9rem;
  font-weight: 600;

  border: #0092FA 2px solid;
  background-color: white;
  color: #0092FA;
  cursor: pointer;
  text-align: center;
}

.tab_download_upload_button:hover {
  background-color: none;
}

.tab_download_upload_button_img {
  position: relative;
  top: 17px;
}

.tab_download_upload_button_title {
  position: relative;
  top: 13px;
  margin-left: 9px;
}

.dropdown-label:hover {
  cursor: pointer;
} 

.dropdown-label.fontBlack {
  color: black;
}

.dropdown-ul-0 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
}

.dropdown-ul-0 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-0 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-0 li div:hover {
  background-color: #0092FA;
  color: white;
}

ul[aria-hidden="false"] {
  display: block;
}

.dropdown-ul {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
  z-index: 1;
}

.dropdown-ul li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul li div:hover {
  background-color: #0092FA;
  color: white;
}

.sorting-dropdown {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.sorting-dropdown:checked + label + .dropdown-ul {
  display: block;
}

.dropdown-label-100:hover {
  cursor: pointer;
} 

.dropdown-label-100.fontBlack {
  color: black;
}

.dropdown-ul-100 {
  display: none;
  background-color: white;
  box-shadow: 0px 5px 20px #ccc;
  position: absolute;
  z-index: 1;
}

.dropdown-ul-100 li {
  border-bottom: 1px solid #ccc;
  width: 160px;
}

.dropdown-ul-100 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-100 li div:hover {
  background-color: #0092FA;
  color: white;
}

.tab_dropdown_arrow {
  width: 20px;
  height: 13px;
  position: relative;
  top: 5px;
}

#dropdown-100:checked + label + .dropdown-ul-100 {
  display: block;
}

#dropdown-100:checked + label > div > img {
  transform: rotate(180deg);
  /* transition: all 0.5s ease-in-out; */
}

.dropdown-100-header {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  width: 140px;
  border-radius: 5px;
  position: relative;
  top: -5px;
  height: 21.5px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.dropdown-100-header span {
  position: relative;
  top: 3px;
}

#dropdown-101 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-101:hover {
  cursor: pointer;
} 

.dropdown-label-101.fontBlack {
  color: black;
}

.dropdown-ul-101 {
  display: none;
  background-color: white;
  box-shadow: 0px 5px 20px #ccc;
  position: absolute;
  z-index: 1;
}

.dropdown-ul-101 li {
  border-bottom: 1px solid #ccc;
  width: 200px;
}

.dropdown-ul-101 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-101 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-101:checked + label + .dropdown-ul-101 {
  display: block;
}

#dropdown-101:checked + label > div > img {
  transform: rotate(180deg);
  /* transition: all 0.5s ease-in-out; */
}

.dropdown-101-header {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  width: 180px;
  border-radius: 5px;
  position: relative;
  top: -5px;
  height: 21.5px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.dropdown-101-header span {
  position: relative;
  top: 3px;
}

#dropdown-102 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-102:hover {
  cursor: pointer;
} 

.dropdown-label-102.fontBlack {
  color: black;
}

.dropdown-ul-102 {
  display: none;
  background-color: white;
  box-shadow: 0px 5px 20px #ccc;
  position: absolute;
  z-index: 1;
}

.dropdown-ul-102 li {
  border-bottom: 1px solid #ccc;
  width: 200px;
}

.dropdown-ul-102 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-102 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-102:checked + label + .dropdown-ul-102 {
  display: block;
}

#dropdown-102:checked + label > div > img {
  transform: rotate(180deg);
  /* transition: all 0.5s ease-in-out; */
}

.dropdown-102-header {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  width: 180px;
  border-radius: 5px;
  position: relative;
  top: -5px;
  height: 21.5px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.dropdown-102-header span {
  position: relative;
  top: 3px;
}