.auth-detail-modal-container {
    width: 100%;
    margin-top: 24px;
}

.auth-detail-modal-contents-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.auth-detail-modal-contents-row:not(:last-child) {
    margin-bottom: 12px;
}

.auth-detail-modal-contents-container {
    flex: 1;
    border: 1.4px solid var(--sub-grey-color5);
    padding: 12px;
    border-radius: 8px;
    position: relative;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.auth-detail-modal-contents-container.authentication-info {
    flex: 1 1 80px;
}

.auth-detail-modal-contents-container::before {
    position: absolute;
    content: attr(data-title);
    font-weight: bold;
    top: -12px;
    left: 16px;
    background-color: white;
    box-sizing: border-box;
    padding: 0 6px;
}

.auth-detail-modal-contents-container.map {
    padding: 8px;
    flex: 1;
}

.auth-detail-modal-contents-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    gap: 12px;
    padding: 2px 16px;
    box-sizing: border-box;
}

.auth-detail-modal-contents-item-title {
    flex: 0 0 130px;
}

.auth-detail-modal-contents-item-content {
    flex: 1;
    text-align: center;
    border: 1px solid var(--sub-grey-color3);
    background-color: var(--sub-grey-color8);
    padding: 2px 0;
    border-radius: 4px;
}

.auth-detail-modal-contents-item:not(:last-child) {
    margin-bottom: 4px;
}

.custom-current-position-check {
    background-color: var(--main-white-color);
    top: 8px;
    position: relative;
    right: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    box-sizing: border-box;
}

.auth-detail-modal-title {
    font-size: .9rem;
}

.auth-detail-modal-title.valid {
    color: var(--main-purple-color);
}

.auth-detail-modal-title.invalid {
    color: var(--main-red-color);
}

.auth-detail-modal-contents-map-container {
    height: 180px;
    width: 360px;
    border-radius: 12px;
    overflow: hidden;
}

.auth-detail-modal-contents-map-container:has(.no-location-data-container) {
    padding: 2px;
    box-sizing: border-box;
}

.no-location-data-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--sub-grey-color3);
    box-sizing: border-box;
    border-radius: 12px;
    background-color: var(--sub-grey-color8);

}

.auth-detail-modal-contents-map-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    height: 16px;
    gap: 16px;
}

.auth-detail-modal-contents-map-label>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .75rem;
    font-weight: bold;
    height: 16px;
    gap: 4px;
}