:root {
    --main-blue-color: #0092fa;
    --sub-blue-color: #ebf3fe;
    --sub-blue-color-2: #e9f3ff;
    --sub-blue-color-3: #f8fbff;
    --main-red-color: #e02828;
    --sub-red-color: #ffe1e1;
    --main-grey-color: #636363;
    --main-grey-color-2: #999999;
    --sub-grey-color: #eeeeee;
    --main-width: 1350px;
  }