input {
    padding: 2px 12px;
    border-radius: 6px;
    outline: none;
    text-align: center;
}

.input-st1 {
    border: 1px solid var(--sub-grey-color);
    &:focus {
        border: 1px solid var(--main-purple-color);
        color: var(--main-purple-color);
    }
}