.user-detail-section {
    border-radius: 10px;
    padding: 5px 25px 25px;
    min-width: 840px;
    width: 1100px;
    max-height: 2000px;
    transition: all .5s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);

    &:not(.first) {
        overflow: hidden;
    }

    &:not(:first-child) {
        &.closed {
            max-height: 42px;
            transition: all .001s ease-out;
        }
    }
}

.user-detail-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    height: 60px;

    & h4 {
        margin: 0;
    }
}

.user-detail-header-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.user-detail-alias-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.user-detail-info-container {
    position: relative;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(123, 123, 123, .5);
        padding-bottom: 48px;
        margin-bottom: 48px;
    }
}

.user-detail-content-passcode-container {
    &>div:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &>table {
        width: 100%;
    }

    & h3 {
        margin-bottom: 0;
    }
}

.user-alias-image {
    width: 18px;
}

.user-detail-header-application-info {
    display: flex;
    align-items: center;
    gap: 12px;

    &>img {
        max-height: 28px;
        border-radius: 6px;
    }

    &>h3 {
        margin: 0;
    }
}

.user-detail-info-device-info-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 30px;
    & > h4 {
        margin: 0;
    }
}

.user-detail-info-divider {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    z-index: 10;
    font-weight: bold;
    font-size: 1.2em;
    &::after {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border: 1.5px solid var(--main-purple-color);
        border-radius: 2.5px;
        border-radius: 10px;
        content: '';
        z-index: 999;
    }
}

.user-detail-info-divider+div {
    position: absolute;
    bottom: 0;
    z-index: 9;
    width: 100%;
    border-bottom: 2.5px solid var(--sub-grey-color2);
}

.user-policy-select-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 36px;
}

.user-policy-select-container>h3 {
    margin: 0;
}

.user-policy-select-container>div {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.user-detail-info-device-info-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    height: 200px;
    padding-top: 12px;
    position: relative;
}

.passcode-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;

    &>img {
        width: 100%;
        height: 100%;
    }
}

.user-detail-info-passcode-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &>div:first-child {
        flex: 1;
    }

    &>div:nth-child(2) {
        cursor: pointer;
        height: 24px;
        width: 24px;

        &>img {
            width: 100%;
            height: 100%;

        }
    }
}

.passcode-add-title {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;
    font-size: 1.5rem;
    font-weight: bold;

    &>div {
        cursor: pointer;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

        &>img {
            width: 100%;
            height: 100%;
        }
    }
}

.passcode-add-content-container {
    padding-left: 4px;
}

.passcode-add-content-title {
    color: var(--sub-grey-color4);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1rem;
}

.passcode-add-content-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;

    &>div:first-child {
        flex: 0 0 110px;
    }

    &>div:not(:first-child) {
        flex: 1 auto;
    }
}

.passcode-add-buttons {
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    justify-self: center;
    gap: 8px;

    &>button {
        flex: 1;
    }
}

.passcode-add-contents {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.passcode-add-label {
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--sub-grey-color4);
}

.passcode-add-item {
    /* display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center; */
}

.user-passcode-delete-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.passcode-add-form {
    padding-top: 40px;
}

.passcode-add-input-label-container {
    padding-left: 14px;
}

.no-portal-signed {
    background-color: var(--sub-grey-color2);
    cursor: not-allowed;

    & .user-detail-header {
        cursor: not-allowed;
    }
}