.user-detail-self-rp-user-add-container {
    margin: 0 auto;
}

.user-detail-self-rp-user-add-application-select-container {
    width: 100%;
    margin-bottom: 20px;
}

.user-detail-self-rp-user-add-input-header {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 30px;
    color: var(--main-purple-color);
    font-weight: bold;
    margin-bottom: 6px;
}

.user-detail-self-rp-user-add-input-header .input-header-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-purple-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 3px;
}

.user-detail-self-rp-user-add-input-header .input-header-circle-inner {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
}


.user-detail-self-rp-user-add-info-description {
    font-size: 13px;
    color: var(--sub-grey-color5);
    text-align: left;
    margin-top: 8px;
    letter-spacing: .5px;
}

.user-detail-self-rp-user-add-description {
    padding: 24px 12px;
    box-sizing: border-box;
    font-weight: 500;
    background-color: var(--sub-purple-color3);
    border-radius: 6px;
    margin-bottom: 20px;
}

.user-detail-self-rp-user-add-input-container {
    height: 42px;
}

.user-detail-self-rp-user-add-input-container input {
    border-radius: 6px;
}

.user-detail-self-rp-user-add-input-container.first {
    margin-bottom: 10px;
}