.user-detail-section:not(.first) {
    overflow: hidden;
}

.user-detail-section:not(:first-child).closed {
    max-height: 60px;
    min-height: 60px;
    transition: all .1s ease-out;
}

.user-detail-section:not(:first-child).closed:hover {
    background-color: var(--sub-purple-color);
    cursor: pointer;
}

.user-detail-header-last-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.user-detail-header-arrow-icon {
    width: 20px;
    height: 20px;
    align-self: center;
    transition: all .5s ease-out;
}

.user-detail-section:not(.closed) .user-detail-header-arrow-icon {
    
    transform: rotate(-180deg);
}

.user-detail-section {
    border-radius: 10px;
    min-width: 840px;
    width: 1100px;
    max-height: 2000px;
    transition: all .5s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    position: relative;
    box-sizing: border-box;
}

.user-detail-section:hover > .user-radius-register-container {
    display: flex;
}

.user-radius-register-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255, .4);
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-detail-header h4 {
    margin: 0;
}

.user-detail-header {
    user-select: none;
    padding: 0 25px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    height: 60px;
    box-sizing: border-box;
}

.user-detail-header-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.user-detail-alias-container>img {
    max-height: 24px;
    width: auto;
    border-radius: 6px;
}

.user-detail-alias-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.user-detail-info-container:not(:last-child) {
    border-bottom: 1px solid rgba(123, 123, 123, .5);
    padding-bottom: 48px;
    margin-bottom: 48px;
}

.user-detail-info-container {
    padding: 0 41px;
    margin-bottom: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-detail-content-passcode-container>div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-detail-content-passcode-container>table {
    width: 100%;
}

.user-detail-content-passcode-container h4 {
    margin-bottom: 0;
    margin-top: 0;
}

.user-detail-content-passcode-container {
    margin-top: 20px;
}

.user-detail-header-application-info {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user-detail-info-device-info-title>h4 {
    margin: 0;
}

.user-detail-info-device-info-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 30px;
}

.user-detail-info-device-info-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    height: 200px;
    padding-top: 12px;
    position: relative;
}

.passcode-add:hover {
    background-color: var(--main-purple-color);
}

.passcode-add {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    box-sizing: border-box;

    background-color: var(--sub-grey-color7);
}

.user-detail-info-passcode-view-container>div:first-child {
    flex: 1;
    font-size: .9rem;
}

.user-detail-info-passcode-view-container>div:not(:first-child) {
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.user-detail-info-passcode-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}

.passcode-add-content-container {
    padding-left: 4px;
}

.passcode-add-content-title {
    color: var(--sub-grey-color4);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1rem;
}

.passcode-add-content-row>div:not(:first-child) {
    flex: 1 auto;
}

.passcode-add-content-row>div:first-child {
    flex: 0 0 110px;
}

.passcode-add-content-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.passcode-add-buttons>button {
    flex: 1;
}

.passcode-add-buttons {
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    justify-self: center;
    gap: 8px;
}

.passcode-add-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 40px;
}

.passcode-add-label {
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--sub-grey-color4);
}

.user-passcode-delete-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.passcode-add-form {}

.passcode-add-input-label-container {
    padding-left: 14px;
}

.no-portal-signed .user-detail-header {
    cursor: not-allowed;
}

.no-portal-signed {
    background-color: var(--sub-grey-color2);
    cursor: not-allowed;
}

.has-password-confirm {
    margin-left: 8px;
}

.user-unlock-password-row {
    width: 100%;
}

.user-unlock-password-row>div>.custom-input-wrapper {
    height: 18px;
}

.user-unlock-password-row:last-child {
    margin-top: 8px;
}

.user-unlock-password-row>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 24px;
    align-items: center;
}

.user-unlock-password-row .custom-input-wrapper {
    height: 40px;
}

.user-unlock-password-confirm-view {
    margin-top: 16px;
    letter-spacing: 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sub-purple-color);
    color: var(--main-purple-color2);
    margin: 24px auto 0 auto;
    padding: 6px 0;
    width: 100%;
    height: 48px;
    font-weight: bold;
    font-size: 1.2rem;
}

.user-recovery-code-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.user-recovery-code-row>span {
    font: small-caption;
}

.user-email-change-modal-btn {
    height: 100%;
    margin-left: 8px;
}

.user-email-change-description {
    font-weight: bold;
}

.user-detail-rp-user-delete-ompass-portal-subscription {
    margin: 12px 0 0 0;   
    color: var(--main-red-color);
    font-weight: bold;
    font-size: .85em;
}