.main_menu_card {
  border: 1.2px solid #ccc;
  padding: 2.5rem;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.main_menu_hovered {
  background-color: #3880e8;
  color: white;
}

.main_menu_container {
    max-width: 60%;
}

.main_menu_container div h2 {
  margin-top: 3rem;
}

.main_menu_card_img {
  max-width: 100%;
}

.main_menu_card_title {
  font-size: 1.6em;
  height: 4vh;
}

.main_menu_card_title.en {
  font-size: 1.3em;
  height: 4.4vh;
}