input.secret-key:hover {
    background-color: var(--sub-purple-color);
}
input.secret-key {
    cursor: pointer;
    padding-right: 28px;
    background-image: url('../../assets/copyIcon.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px 18px;
}

.application-detail-input-sub-btn {
    flex: 1;
    height: 40px;
}

.application-detail-bottom-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.application-contents-container[data-hidden=true] {
    display: none;
}

.application-contents-inner-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}