input.secret-key {
    padding-right: 28px;
    background-image: url('../../assets/copyIcon.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px 18px;
    &:hover {
        background-color: var(--sub-purple-color);
    }
}

.application-detail-input-sub-btn {
    flex: 1;
    height: 40px;
}

.application-detail-bottom-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}