.contents-header-container { 
    min-width: var(--main-width);
}

.contents-header-container.cloud-table {
    margin-bottom: 32px;
}

.contents-header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contents-header-content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.custom-detail-header-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.custom-detail-header-items-container > div:hover {
    color: #0b69e5;
    cursor: pointer;
}

.contents-header-back-button {
    width: 34px;
    height: 34px;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

@media (max-width:768px) {
    .contents-header-container {
        padding: 0 12px;
        box-sizing: border-box;
    }
}