.custom-transfer-user-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 48px;
    align-items: center;
}

.custom-transfer-user-content-box {
    width: 375px;
    height: 800px;
    border: 1px solid var(--sub-grey-color5);
    border-radius: 8px;
}

.custom-transfer-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    & > img {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
}

.custom-transfer-user-content-header {
    border-bottom: 1px solid black;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > span > b {
        color: var(--main-purple-color);
    }
}

.custom-transfer-user-list-container {
    height: calc(100% - 88px);
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-transfer-user-list-search-container {
    height: 44px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    &>div {
        padding: 6px 8px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: relative;
        & > input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding-right: 34px;
            border-radius: 12px;
            border: 1px solid var(--main-purple-color);
            color: var(--main-grey-color-2);
            &::placeholder {
                color: var(--main-grey-color-3);
                font-size: .8rem;
            }
        }
        & > img {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 16px;
        }
    }
}

.custom-transfer-user-row {
    height: 32px;
    padding: 4px 8px;
    line-height: 32px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--main-grey-color-2);
    &>img {
        height: 60%;
    }
    &:hover {
        background-color: var(--sub-blue-color-2);
    }
    &[aria-selected="true"] {
        font-weight: bold;
        background-color: var(--sub-blue-color-2);
    }
}