.custom-image-upload-container {
    height: 264px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.custom-image-upload-box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
    & > img {
        max-width: 95%;
        max-height: 95%;
    }
}

.custom-image-upload-text {
    text-align: center;
    height: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--main-blue-color);
    font-size: .8rem;
}