.create_account_container {

}

.create-account-logo-title {
  font-weight: bold;
  font-size: 2.7rem;
}

.create_account_content {
  background-color: white;
  border: none;
  width: 520px;
  height: 650px;
  padding: 50px;
}

.create_account_text_box {
  padding: 10px;
  height: 165px;
  font-size: 0.8rem;
}

.create_account_button {
  width: 100%;
  height: 62px;
  border-radius: 12px;
  font-size: 1.12rem;
  font-weight: 900;
}

.create_account_button.noActive:hover {
  background-color: #7FC8FC;
}

.create_account_input {
  width: 496px;
  height: 50px;
  border-radius: 8px;
  font-size: 1rem;
  padding-left: 20px;
}

.create_account_id_check {
  width: 20%;
  margin-left: 22px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 600;
}

