.create_account_container {

}

.create_account_content {
  background-color: white;
  border: none;
  width: 550px;
  height: 620px;
  padding: 50px;
}

.create_account_text_box {
  padding: 10px;
  height: 165px;
  font-size: 0.8rem;
}

.create_account_button {
  width: 100%;
  height: 55px;
  border-radius: 12px;
  font-size: 1.12rem;
  font-weight: 900;
}

.create_account_input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  font-size: 1rem;
}

.create_account_id_check {
  width: 20%;
  margin-left: 22px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 600;
}