.guide-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 46px;
    & > button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      height: 100%;
      & > img {
        height: 100%;
      }
    }
}