.header_container {
  height: 80px;
  border-bottom: 1px solid #ccc;
  /* display: flex; */
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 872px;
  box-shadow: 10px 0px 20px #ccc;
}

.header_container div {
  flex: 1 1;  
}

.header_title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 25px;
  position: relative;
  top: -7px;
}

.header_logo_title {
  font-size: 2.4rem;
  margin-left: 9px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
}