.header_col ul {
  padding: 0;
}

.header_col ul li {
  display: inline-block;
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
}

.header_id {
  cursor: pointer;
}

.header_id:hover {
  color: #0092FA;
}

.header_container {
  padding-top: 8px;
  height: 72px;
  border-bottom: 1px solid #ccc;
  /* display: flex; */
  box-shadow: 10px 0px 20px #ccc;
  /* justify-content: center; */
}

.header_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-width: 692px; */
  /* padding-left: 32px; */
  /* padding-right: 32px; */
}

#dropdown_menu {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown_menu_label:hover {
  cursor: pointer;
}

.dropdown_menu_ul {
  display: none;
  background-color: white;
  box-shadow: 0px 5px 10px -1px #ccc;
  position: absolute;
  top: 74px;
  z-index: 1;
  width: 235px;
}

.dropdown_menu_ul li {
  border-bottom: 1px solid #ccc;
  display: flex;
  margin-left: 0;
  position: relative;
  left: -16px;
}

.dropdown_menu_ul li div {
  border: none;
  background-color: white;
  color: #999;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 15px 20px;
  /* border-radius: 3px; */
  font-weight: 100;
  width: 195px;
}

.dropdown_menu_ul li div:hover {
  background-color: #0092FA;
  color: white;
  /* background-color: rgba(0,0,0,0.64); */
}

#dropdown_menu:checked+label+.dropdown_menu_ul {
  display: block;
}

.header_title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 25px;
  position: relative;
  top: -4px;
}

.header_title_img {
  position: relative;
  top: 2px;
}

.header_logo_title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 9px;
}

.header_logo_title_agent {
  font-size: 1.6rem;
  margin-left: 9px;
  font-weight: bold;
}

@media (max-width:768px) {

  /* 모바일 가로, 타블렛 세로 */
  .header_logo_title {
    font-size: 1.3rem;
  }

  .header_logo_title_agent {
    font-size: 1.1rem;
  }

  .dropdown_menu_ul li div {
    font-size: .9rem;
  }

  .dropdown_menu_ul {
    top: 62px;
    left: 0;
  }

  .header_col ul li {
    margin-left: 8px;
    font-size: 16px;
  }
  .header_title_img {
    max-width: 18px;
  }
  .dropdown_menu_label > img {
    max-width: 22px;
  }
}