.header_id {
  cursor: pointer;
}

.header_id:hover {
  color: var(--main-purple-color);
}

.header-container {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: var(--header-height);
  width: 100%;
  box-shadow: 10px 0px 20px var(--sub-grey-color3);
  padding: 8px 0;
  box-sizing: border-box;
}

.header-container-contents {
  width: var(--main-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-menu-icon {
  cursor: pointer;
  padding: 8px;
  height: 48px;
  box-sizing: border-box;
  & > img {
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
}

.header-contents-first-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header-contents-second-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header-contents-second-items img {
  height: 20px;
  width: 20px;
}

.header_logo_title {
  background: linear-gradient(to bottom, #5840d9, #4715FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 4px;
}

.header_logo_title_agent {
  font-size: 1.4rem;
  font-weight: bold;
}

.header-title-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.header-title-container > img {
  height: 30px;
  width: 30px;
  position: relative;
  bottom: 2px;
}

@media (max-width:768px) {

  .header-container-contents {
    padding-right: 12px;
  }

  .header-contents-second-items {
    /* display: none; */
  }

  .header-title-container {
    display: none;
  }

  .header_logo_title {
    font-size: 1.3rem;
  }

  .header_logo_title_agent {
    font-size: 1.1rem;
  }

  .dropdown_menu_ul li div {
    font-size: .9rem;
  }

  .dropdown_menu_ul {
    top: 62px;
    left: 0;
  }

  .header_col ul li {
    margin-left: 8px;
    font-size: 16px;
  }
  .header-title-container > img {
    max-width: 18px;
  }
  .dropdown_menu_label > img {
    max-width: 22px;
  }
}