.remain-session-time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-weight: bold;
}

.remain-session-time-container.warning {
    color: var(--main-red-color);
}

.remain-session-time-container:hover {
    /* color: var(--main-purple-color); */
}