.remain-session-time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
    gap: 6px;
    font-weight: bold;
}

.remain-session-time-container:hover {
    /* color: var(--main-purple-color); */
}