input[type="checkbox"] {
  transform: scale(1.3);
}

.tab_search_ul {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  font-weight: 600;
}

.tab_search_checkbox {
  position: relative;
  top: 13px;
}

.tab_search_input {
  height: 40px;
  width: 380px;
  border-radius: 7px;
  position: relative;
  top: -5px;
}

.tab_search_button {
  font-size: 0.99rem;
  height: 43px;
  width: 80px;
  border-radius: 10px;
  position: relative;
  top: -5px;
  margin-left: 20px;
}

.tab_search_button.en {
  width: 90px;
}

.tab_search_button_img {
  position: relative;
  top: 2px;
  margin-right: 3px;
}

.tab_table_list tbody tr td {
  width: 20%;
}

.tab_table_sorting_image {
  position: relative;
  top: 2px;
  margin-left: 6px;
}

.tab_table_sorting_image.opac {
  opacity: 0.44;
}

.tab_table_sorting_dropdown {
  position: absolute;
  margin-top: 10.5px;
}

.tab_table_sorting_dropdown.username {
  margin-left: 164px;
}

.tab_table_sorting_dropdown.os {
  margin-left: 132px;
}

.tab_table_sorting_dropdown.lastLoginDate {
  margin-left: 165px;
}

.tab_table_sorting_dropdown.enable_passcode_count {
  margin-left: 162px;
}

.manager-mark.red {
  background-color: #e02828;
}

.tab_download_upload_button {
  margin: 10px;
  width: 230px;
  height: 53px;
  border-radius: 14px;
  font-size: 0.9rem;
  font-weight: 600;

  border: #0092FA 2px solid;
  background-color: white;
  color: #0092FA;
  cursor: pointer;
  text-align: center;
}

.tab_download_upload_button:hover {
  background-color: none;
}

.tab_download_upload_button_img {
  position: relative;
  top: 17px;
}

.tab_download_upload_button_title {
  position: relative;
  top: 13px;
  margin-left: 9px;
}

/* dropdown */
#dropdown-0 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-0:hover {
  cursor: pointer;
} 

.dropdown-label-0.fontBlack {
  color: black;
}

.dropdown-ul-0 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
}

.dropdown-ul-0 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-0 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-0 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-0:checked + label + .dropdown-ul-0 {
  display: block;
}

#dropdown-1 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-1:hover {
  cursor: pointer;
} 

.dropdown-label-1.fontBlack {
  color: black;
}

.dropdown-ul-1 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
  z-index: 1;
}

.dropdown-ul-1 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-1 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-1 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-1:checked + label + .dropdown-ul-1 {
  display: block;
}

#dropdown-2 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-2:hover {
  cursor: pointer;
} 

.dropdown-label-2.fontBlack {
  color: black;
}

.dropdown-ul-2 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
}

.dropdown-ul-2 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-2 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-2 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-2:checked + label + .dropdown-ul-2 {
  display: block;
}

#dropdown-3 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-3:hover {
  cursor: pointer;
} 

.dropdown-label-3.fontBlack {
  color: black;
}

.dropdown-ul-3 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
}

.dropdown-ul-3 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-3 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-3 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-3:checked + label + .dropdown-ul-3 {
  display: block;
}

#dropdown-4 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-4:hover {
  cursor: pointer;
} 

.dropdown-label-4.fontBlack {
  color: black;
}

.dropdown-ul-4 {
  display: none;
  background-color: white;
  box-shadow: 0px 5px 20px #ccc;
  position: absolute;
  z-index: 1;
}

.dropdown-ul-4 li {
  border-bottom: 1px solid #ccc;
  width: 160px;
}

.dropdown-ul-4 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-4 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-4:checked + label + .dropdown-ul-4 {
  display: block;
}

#dropdown-4:checked + label > div > img {
  transform: rotate(180deg);
  /* transition: all 0.5s ease-in-out; */
}

.dropdown-4-header {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  width: 140px;
  border-radius: 5px;
  position: relative;
  top: -5px;
  height: 21.5px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.dropdown-4-header span {
  position: relative;
  top: 3px;
}

.tab_dropdown_arrow {
  width: 20px;
  height: 13px;
  position: relative;
  top: 5px;
}

#dropdown-5 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-5:hover {
  cursor: pointer;
} 

.dropdown-label-5.fontBlack {
  color: black;
}

.dropdown-ul-5 {
  display: none;
  background-color: white;
  box-shadow: 0px 5px 20px #ccc;
  position: absolute;
  z-index: 1;
}

.dropdown-ul-5 li {
  border-bottom: 1px solid #ccc;
  width: 200px;
}

.dropdown-ul-5 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-5 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-5:checked + label + .dropdown-ul-5 {
  display: block;
}

#dropdown-5:checked + label > div > img {
  transform: rotate(180deg);
  /* transition: all 0.5s ease-in-out; */
}

.dropdown-5-header {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  width: 180px;
  border-radius: 5px;
  position: relative;
  top: -5px;
  height: 21.5px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.dropdown-5-header span {
  position: relative;
  top: 3px;
}

.tab_dropdown_arrow {
  width: 20px;
  height: 13px;
  position: relative;
  top: 5px;
}