.agent_management_header {
  width: var(--main-width);
}

.agent_management_target_version_btn {
  cursor: pointer;
  padding: 4px 9px;
  border-radius: 3px;
}

.agent-input-row-container {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  &>label {
    flex: 0 0 200px;
  }

  &>.custom-input-wrapper {
    height: 50px;
    flex: 1 1 400px;
  }
}

.version-name.regex-alert {
  &.visible {
    padding-left: 212px;
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  &:not(.visible) {
    height: 0;
  }
}