.agent_management_header {
  width: var(--main-width);
}

.agent_management_target_version_btn {
  cursor: pointer;
  padding: 4px 9px;
  border-radius: 3px;
}

.agent-input-row-container>label {
  flex: 0 0 200px;
}

.agent-input-row-container>.custom-input-wrapper {
  height: 50px;
  flex: 1 1 400px;
}

.agent-input-row-container {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.version-name.regex-alert.visible {
  padding-left: 212px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.version-name.regex-alert:not(.visible) {
  height: 0;
}

.agent-table-icon {
  width: 24px;
  height: 24px;
}