.ompass-control-row {
    & p {
        /* color: var(--main-grey-color); */
        color: #000;
        font-size: .9rem;
        margin: 6px 0 0 1.5rem;
    }
    &:not(:last-child) p {
        margin-bottom: 24px;
    }
    & input {
        margin-right: 8px;
    }
    & > .custom-input-wrapper {
        font-weight: bold;
        & > .custom-label-wrapper {
            & > label {
                color: var(--main-purple-color);
            }
        }
    }
}

.policy-browser-label {
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.policy-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    height: auto;
    transition: height .1s ease-out;
    &[aria-hidden="true"] {
        height: 0px;
        padding: 0;
        & > div {
            display: none;
        }
    }
    &.time-policy {
        border: none;
    }
}

.ip-address-policy-input-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-start;
    & > div {
        height: 24px;
        width: 24px;
        cursor: help;
        position: relative;
        padding: 2px;
        margin-left: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        &:hover:after {
            content: attr(aria-valuetext);
            position: absolute;
            border-radius: 4px;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            line-height: 18px;
            color: var(--main-purple-color);
            white-space: nowrap;
            background-color: var(--sub-purple-color);
            padding: 6px 10px;
            border-radius: 8px;
            font-size: .8rem;
        }
        & > img {
            height: 100%;
            width: 100%;
        }
    }
}

.location-policy-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.location-item-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 36px;
}

.authenticator-controller {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--main-grey-color);
    margin-right: 12px;
}

.browser-controller {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: var(--main-grey-color);
}

.authenticator-ompass-auth {
    padding: 12px;
    background-color: var(--sub-purple-color3);
    border-radius: 8px;
    transition: height .25s ease-out;
    position: relative;
}

.policy-contents-container {
    border: 1px solid var(--sub-grey-color5);
    margin: 12px 0;
    padding: 10px 12px;
    border-radius: 8px;
    flex: 0 0 80%;
    box-sizing: border-box;
    &.column {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.policy-ip-address-input {
    height: 32px;
    
}

.time-policy-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.time-policy-inner-container {
    border-radius: 8px;
    padding: 12px 8px;
    border: 1px solid var(--sub-grey-color5);
    flex: 0 0 80%;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.custom-current-position-check {
    background-color: var(--main-white-color);
    top: 8px;
    position: relative;
    right: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    box-sizing: border-box;
    & > img {
        width: 100%;
        height: 100%;
    }
}

.policy-location-input-row {
    /* margin-top: 12px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 32px;
    padding: 4px 8px;
    &.current {
        padding: 12px 8px;
        border-radius: 10px;
        background-color: var(--sub-grey-color);
    }
}

.policy-input-map-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    & > .map-layout {
        overflow: hidden;
        border-radius: 12px;
        width: 500px;
        height: 300px;
    }   
}

.browser-policy-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > div {
        flex: 0 0 240px;
    }
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.policy-location-label {
    white-space: nowrap;
    font-size: .8rem;
}

.policy-location-radius-input {
    padding-right: 24px;
    width: 120px !important;
    position: relative;
}

.notice-admin-buttons {
    margin-top: 12px;
}

.time-policy-days-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.time-policy-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notice-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.notice-row-container.themselves {
    &>div:first-child {
        width: 120px;
    }
}