.ompass-control-row {
    & p {
        margin: 8px 0 16px 1.8rem;
    }
    & input {
        margin-right: 8px;
    }
    & label {
        color: var(--main-blue-color);
        font-weight: 700;
    }
    & p {
        font-weight: lighter;
        font-size: .9rem;
    }
}

.policy-browser-label {
    white-space: pre;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.policy-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 12px;
    height: auto;
    transition: height .1s ease-out;
    &[aria-hidden="false"] {
        border: 1px solid var(--sub-grey-color);
    }
    &[aria-hidden="true"] {
        height: 0px;
        padding: 0;
        & > div {
            display: none;
        }
    }
    &.time-policy {
        border: none;
    }
}

.ip-address-policy-input-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-end;
    & > div {
        height: 28px;
        cursor: help;
        position: relative;
        &:hover:after {
            content: attr(aria-valuetext);
            position: absolute;
            border-radius: 4px;
            padding: 2px 8px;
            left: 120%;
            top: 4px;
            height: 54px;
            width: 240px;
            line-height: 18px;
            color: var(--main-purple-color);
        }
        & > img {
            height: 100%;
        }
    }
}

.location-policy-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.location-item-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.authenticator-controller-container {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.authenticator-controller {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--main-grey-color);
}

div[aria-hidden="true"] {
    position: relative;
    & .disabled-background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(123,123,123,.7);
    }
}

.authenticator-ompass-auth {
    height: 200px;
    padding: 12px 24px;
    background-color: var(--sub-grey-color);
    border-radius: 8px;
    transition: height .25s ease-out;
    position: relative;
    &[aria-hidden="true"] {
        height: 0px;
        padding: 0;
        & > div {
            display: none;
        }
    }
    &[aria-hidden="false"] {
        &::before {
            position: absolute;
            left: 94px;
            top: -25px;
            width: 0px;
            height: 0px;
            content: "";
            border-bottom: 12.5px solid var(--sub-gery-color);
            border-top: 12.5px solid transparent;
            border-left: 12.5px solid transparent;
            border-right: 12.5px solid transparent;
        }
    }
}

.authenticator-controller-policy-container {
    border: 1px solid var(--sub-grey-color);
    border-radius: 8px;
    padding: 10px;
    width: 80%;
}

.authenticator-ompass-auth-title {
    margin-bottom: 12px;
    font-weight: bold;
    color: var(--main-grey-color);
}

.policy-ip-address-input {
    height: 32px;
}

.time-policy-container {
    border: 1px solid var(--sub-grey-color5);
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.custom-current-position-check {
    background-color: var(--main-white-color);
    top: 8px;
    position: relative;
    right: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    box-sizing: border-box;
    & > img {
        width: 100%;
        height: 100%;
    }
}

.policy-location-input-row {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    & > input {
        height: 32px;
    }
}

.policy-input-map-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    & > .map-layout {
        width: 400px;
        height: 400px;
    }   
}