.policy-select-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
}

.policy-select-item {
    flex: 1;
}

.policy-select-title {
    border-bottom: 1px solid black;
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.policy-select-contents {
    margin-bottom: 16px;
    overflow: hidden;
}

.policy-select-contents-header {
    padding: 8px 12px;
    cursor: pointer;
    &:hover {
        background-color: rgba(123,123,123,.3);
    }
}

.policy-select-contents-header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &>div {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        justify-content: flex-start;

        &>img {
            transform: rotate(90deg);
            height: 100%;
        }
    }
}

.policy-select-contents-header-bottom {}

.policy-select-contents-body {
    padding: 4px 20px;
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows .2s linear;

    &.close {
        grid-template-rows: 0fr;
    }
}

.policy-select-contents-body-inner {
    overflow: hidden;
}

.policy-select-contents-body-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.policy-select-contents-body-row-label {
    flex: 0 0 120px;
}

.policy-select-contents-body-row-content {
    flex: 1;
}