.policy-setting-box label>input {
    margin-right: 10px;
}

.policy-setting-box label {
    display: flex;
}

.policy-setting-box {
    border: 1px solid var(--sub-grey-color3);
    padding: 4px 16px;
}

.policy-setting-item-row:not(:last-child) {
    border-bottom: 1.3px dashed var(--sub-grey-color3);
}

.policy-setting-item-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.policy-setting-item-title {
    width: 180px;
}

.policy-setting-item-contents {
    flex: 1;
    border-left: 1px solid var(--sub-grey-color3);
}

.policy-setting-item-contents-col {
    display: inline-block;
    padding: 2px 8px;
}