/* Common */

.login-footer-btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.create-account-input {
  width: 496px;
  height: 50px;
}

.login-agent-download-button {
  height: 34px;
  border: none !important;
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: var(--main-background-color);
}

.login-form-header>img {
  max-width: 60%;
}

.login-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  height: 60px;
}

.login-hello-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
}

.login-logo-img {
  height: 55%;
  padding: 0 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-hello-text {
  background-color: var(--sub-grey-color9);
  border-radius: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  padding: 0 24px;
  box-sizing: border-box;
  flex: 1;
}

.login-body>form {
  height: 100%;
}

.login-body>div,
.login-body>form {
  flex: 1;
}

.login-body {
  border: none;
  width: 800px;
  height: 400px;
  padding: 48px;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 3px var(--sub-grey-color);
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.login-body.account-recovery {
  width: 600px;
  height: 400px;
  gap: 16px;
  box-sizing: border-box;
  flex-direction: column;
}

.login-body.password-change {
  width: 600px;
  height: 460px;
  box-sizing: border-box;
}

.login-body.password-reset {
  width: 600px;
  height: 540px;
  box-sizing: border-box;
}

.login-body.password-reset.code-confirm {
  height: 460px;
}
.login-body.password-reset.find-id {
  height: 360px;
}

.login-form-title {
  margin: 0;
  font-weight: bold;
  font-size: 2.1rem;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  height: 65px;
  margin-bottom: 20px;
}

.login-input-container > label >.custom-input-wrapper {
  height: 46px;
}

.login-input-container.password.passwordless {
  overflow: hidden;
  animation: login-input-container-collapse .3s ease-in-out;
}

.login-input-container.password:not(.not-registered) {
  display: none;
}

@keyframes login-input-container-collapse {
  0% {
    height: 0px;
  }
  100% {
    height: 65px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input {
  font-size: 1rem;
  border-radius: 8px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 16px center;
  background-size: 24px 24px;
  box-sizing: border-box;
}

/* .login-input:focus {
  border-color: var(--main-purple-color);
  background-color: var(--sub-purple-color4);
} */

.login-input.username {
  background-image: url('@assets/login_id.png') !important;
}

.login-input.password {
  background-image: url('@assets/login_password.png');
}

.login-button {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  height: 42px;
}

.login-footer {
  text-align: center;
}

.login-footer-locale-img {
  position: relative;
  top: 2px;
  margin-right: 2px;
  width: 14px;
}

.login-footer-manual-download-img {
  position: relative;
  top: 4px;
  width: 19px;
}

.quick-start-guide-text:hover {
  text-decoration: underline;
}

.quick-start-guide-text {
  text-decoration: none;
  font-size: .9rem;
  color: var(--main-purple-color);
}

/* .login-copyright {
  font-size: 0.9rem;
} */

.login-action-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-action-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: .9rem;
}

.signup:hover {
  color: var(--main-purple-color);
  text-decoration: underline;
}

.signup {
  cursor: pointer;
}

.reset-password-text:hover {
  color: var(--main-purple-color);
  text-decoration: underline;
}

.reset-password-text {
  cursor: pointer;
}

.login-action-vertical-line {
  height: 80%;
  border: .1px solid var(--sub-grey-color3);
}

/* 반응형 */
@media (max-width:1799px) {
  /* 데스크탑 */

}

@media (min-width:1024px) and (max-width:1279px) {
  /* 타블렛 가로 */

}

@media (min-width:768px) and (max-width:1023px) {
  /* 모바일 가로, 타블렛 세로 */
}

@media (max-width:767px) {
  .login-agent-download-button {
    font-size: 12px;
  }
  .login-agent-download-button.st5 {
    background-color: var(--sub-purple-color);
  }
  /* 모바일 세로 */
  .login-footer {
    height: 20px;
  }

  .login-container {
    width: 100%;
    padding: 12px;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    background-color: white;
    gap: 12px;
    overflow-y: auto;
  }

  .login-body {
    justify-content: start;
  }

  .login-body>div {
    /* height: 200px;
    flex: 0 0 200px; */
  }

  .login-body>form {
    width: 100%;
  }

  .login-body {
    width: 100%;
    flex: 1;
    height: auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    justify-content: space-between;
    overflow-y: auto;
    gap: 24px;
  }

  .login-logo-img>img {
    width: 100%;
    height: 100%;
  }

  .login-hello-container {
    width: 95%;
    gap: 12px;
  }

  .login-form-header {
    justify-content: center;
    align-items: center;
  }

  .login-logo-img {
    flex: 1;
  }

  .login-hello-text {
    padding: 16px 6px;
    flex: 1;
    font-size: 12px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .login-body.account-recovery {
    width: 100%;
  }
  .login-body.password-reset {
    width: 100%;
  }
  .login-body.password-reset > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-body.password-reset > form > div {
    width: 100%;
  }

  .login-footer-mobile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
  }
}

@media (max-width:375px) {
  .login-agent-download-button {
    font-size: 8.5px;
  }
}