/* Common */

.create-account-input {
  width: 496px;
  height: 50px;
}

.login-agent-download-button {
  font-size: 1rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 42px;
  margin-top: 48px;
  & > img {
    height: 80%;
  }
}

.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.login-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  height: 60px;
  & > img {
    max-width: 60%;
    height: 100%;
  }
}

.login-logo-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  gap: 12px;
  & > img {
    height: 55%
  }
}

.login-body {
  border: none;
  width: 800px;
  padding: 48px;
  font-size: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 3px var(--sub-grey-color);

  display: flex;
  flex-direction: row;
  gap: 64px;

  & > div, & > form {
    flex: 1;
  }
  & > div {
    display: flex;
    flex-direction: column;
    & > div:nth-child(2) {
      flex: 1;
      padding: 32px;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
  & > form {

  }
}

.login-form-title {
  font-weight: 900;
  font-size: 2.1rem;
}

.login-input-container {
  display: flex;
  flex-direction: column;
}

.login-input {
  height: 50px;
  font-size: 1rem;
  border-radius: 8px;
  padding-left: 67px;
  &:focus {
    border-color: rgba(128, 0, 128, 0.636);
    background-color: rgba(128, 0, 128, 0.336);
  }
}

.login-input-img {
  width: 30px;
  position: relative;
  top: -41px;
  left: 20px;
}

.login-button {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 12px;
  margin-bottom: 2vh;
}

.login-footer {
  flex-direction: column;
  margin-bottom: 1%;
}

.login-footer-locale-img {
  position: relative;
  top: 2px;
  margin-right: 2px;
  width: 14px;
}

.login-footer-manual-download-img {
  position: relative;
  top: 4px;
  width: 19px;
}

/* .login-copyright {
  font-size: 0.9rem;
} */


/* 반응형 */
@media (max-width:1799px) {
  /* 데스크탑 */
  
}
  
@media (min-width:1024px) and (max-width:1279px) {
  /* 타블렛 가로 */
 
}
@media (min-width:768px) and (max-width:1023px) {
  /* 모바일 가로, 타블렛 세로 */
}

@media (min-width:480px) and (max-width:767px) {
  /* 모바일 세로 */
}

@media (max-width:479px) {
  /* 모바일 세로 */
}