.contents-container {
  background-color: white;
  height: calc(100% - var(--header-height));
  padding-top: var(--header-height);
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.ant-switch.ant-switch-checked {
  background: var(--main-purple-color) !important;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: var(--sub-purple-color5);
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected>div {
  color: var(--main-purple-color2);
}

.ant-select-item.ant-select-item-option-active {
  color: var(--sub-grey-color4);
  background-color: var(--sub-grey-color8);
}

.ant-select-item-option-content {
  color: var(--main-grey-color2);
}

.ant-tabs-nav-operations {
  display: none !important;
}

img {
  object-fit: contain;
  height: 100%;
}