 #root > div.contents-container {
  background-color: white;
  height: calc(100% - var(--header-height));
  margin-top: var(--header-height);
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
}

.ant-switch.ant-switch-checked {
  background: var(--main-purple-color) !important;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: var(--sub-purple-color5);
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected>div {
  color: var(--main-purple-color2);
}

.ant-select-item.ant-select-item-option-active {
  color: var(--sub-grey-color4);
  background-color: var(--sub-grey-color8);
}

.ant-select-item-option-content {
  color: var(--main-grey-color2);
}

.ant-tabs-nav-operations {
  display: none !important;
}

img {
  object-fit: contain;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--main-purple-color);
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--main-purple-color);
  background-clip: padding-box;
  cursor: pointer;
}
*::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: var(--sub-purple-color);
  outline: none;
  background-clip: padding-box;
}