.contents-container {
  background-color: white;
  height: calc(100% - var(--header-height));
  margin-top: var(--header-height);
  padding-bottom: 40px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}