@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #E4EBEF; */
  /* font-family: 'IBM Plex Sans KR', sans-serif; */
  font-family: 'NEXON Lv1 Gothic OTF';
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* center */
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* color */
.main-bg1 {
  background-color: #E4EBEF;  
}

.main-color1 {
  color: #008DED;
}

/* input style */
.input-st1 {
  border: #CCC 0.5px solid;
}

.input-st1:focus {
  border: #0092FA 0.8px solid;
  outline: none;
}

/* button style */
.button-st1 {
  background-color: #7FC8FC;
  border: none;
  color: white;
  cursor: pointer;
}

.button-st1:hover {
  background-color: #0092FA;
}

.button-st2 {
  border: #0092FA 2px solid;
  background-color: white;
  color: #0092FA;
  cursor: pointer;
}

.button-st2:hover {
  background-color: #0092FA;
  border: none;
  color: white;
}

.button-st3 {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.button-st4 {
  background-color: #0092FA;
  color: white;
  cursor: pointer;
  border: none;
}

.button-st5 {
  background-color: #e02828;
  color: white;
  cursor: pointer;
  border: none;
}

.button-st3:hover {
  background-color: rgb(17, 16, 16);
}

/* text box style */
.text-box-st1 {
  border: 0.5px solid #bbb;
  overflow-y: scroll;
}

.text-box-st1::-webkit-scrollbar{
  width: 20px;
}

.text-box-st1::-webkit-scrollbar-thumb {
  background: #0092FA;
  border-radius: 6px;
  height: 20%;
  /* border: 5px solid white; */
}

.text-box-st1::-webkit-scrollbar-track{
}

/* table style */
.table-st1 table {
  width: 100%;
  border-top : 1px solid #b7b7b7;
  border-collapse: collapse;
}

.table-st1 th {
  border-bottom: 1px solid #b7b7b7;
  padding: 10px;
  background-color: #e8e8e8;
  color : rgba(0,0,0,.44);
}

.table-st1 td {
  border-bottom : 1px solid #b7b7b7;
  padding: 10px;
  text-align: center;
}

/* dropdown */
#dropdown-0 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-0:hover {
  cursor: pointer;
} 

.dropdown-label-0.fontBlack {
  color: black;
}

.dropdown-ul-0 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
}

.dropdown-ul-0 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-0 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-0 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-0:checked + label + .dropdown-ul-0 {
  display: block;
}

#dropdown-1 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-1:hover {
  cursor: pointer;
} 

.dropdown-label-1.fontBlack {
  color: black;
}

.dropdown-ul-1 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
}

.dropdown-ul-1 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-1 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-1 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-1:checked + label + .dropdown-ul-1 {
  display: block;
}

#dropdown-2 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-2:hover {
  cursor: pointer;
} 

.dropdown-label-2.fontBlack {
  color: black;
}

.dropdown-ul-2 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
}

.dropdown-ul-2 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-2 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-2 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-2:checked + label + .dropdown-ul-2 {
  display: block;
}

#dropdown-3 {
  left: 0;
  visibility: hidden;
  position: absolute;
}

.dropdown-label-3:hover {
  cursor: pointer;
} 

.dropdown-label-3.fontBlack {
  color: black;
}

.dropdown-ul-3 {
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px #ccc;
}

.dropdown-ul-3 li {
  border-bottom: 1px solid #ccc;
}

.dropdown-ul-3 li div {
  border: none;
  background-color: white;
  color: #999;
  /* font-size: 1rem; */
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 100;
}

.dropdown-ul-3 li div:hover {
  background-color: #0092FA;
  color: white;
}

#dropdown-3:checked + label + .dropdown-ul-3 {
  display: block;
}

/* locale */
.locale-toggle, .locale-toggle:hover {
  cursor: pointer;
}

.locale-toggle.active {
  font-weight: 600;
}

/* copyright style */
.copyRight-style {
  font-size: 0.8rem;
  font-weight: 400;
}

/* circle number */
.circleNumber {
  background-color: rgb(69, 69, 69);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  color: white;
  text-align: center;
  font-size: 0.05rem;
}

/* manager mark */
.manager-mark {
  border: none;
  background-color: #0092FA;
  color: white;
  border-radius: 15px;
  padding: 7px;
  font-size: 0.7rem;
}

/* margin bottom */
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

/* margin top */
.mt5 {
  margin-top: 5px;
}

.mt8 {
  margin-top: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

/* margin left right */
.mlr5 {
  margin: 0px 5px;
}

.mlr10 {
  margin: 0px 10px;
}

.ml10 {
  margin-left: 10px;
}

.ml30 {
  margin-left: 30px;
}

.mr10 {
  margin-right: 10px;
}

.mr30 {
  margin-right: 30px;
}