body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E4EBEF;
  /* font-family: 'Noto Sans KR' !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* center */
.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* color */
.main-bg1 {
  background-color: #E4EBEF;  
}

.main-color1 {
  color: #008DED;
}

/* input style */
.input-st1 {
  border: #CCC 0.5px solid;
}

.input-st1:focus {
  border: #0092FA 0.8px solid;
  outline: none;
}

/* button style */
.button-st1 {
  background-color: #7FC8FC;
  border: none;
  color: white;
  cursor: pointer;
}

.button-st1:hover {
  background-color: #0092FA;
}

.button-st2 {
  border: #0092FA 2px solid;
  background-color: white;
  color: #0092FA;
  cursor: pointer;
}

.button-st2:hover {
  background-color: #0092FA;
  border: none;
  color: white;
}

.button-st3 {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.button-st3:hover {
  background-color: rgb(17, 16, 16);
}

/* text box style */
.text-box-st1 {
  border: 0.5px solid #bbb;
  overflow-y: scroll;
}

.text-box-st1::-webkit-scrollbar{
  width: 20px;
}

.text-box-st1::-webkit-scrollbar-thumb {
  background: #0092FA;
  border-radius: 6px;
  /* border: 5px solid white; */
}

.text-box-st1::-webkit-scrollbar-track{
}

/* logo title */
.logo-title {
  font-size: 3rem;
  font-weight: 700;
}

/* copyright style */
.copyRight-style {
  font-size: 0.8rem;
  font-weight: 400;
}

/* margin bottom */
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

/* margin top */
.mt5 {
  margin-top: 5px;
}

.mt8 {
  margin-top: 8px;
}

/* .mt10 {
  margin-top: 10px;
} */

/* margin left right */
.mlr5 {
  margin: 0px 5px;
}