.group-view-container {
    background-color: var(--sub-grey-color9);
    padding: 4px;
    border-radius: 8px;
    font-size: .9rem;
}

.group-view-container>.ant-space-item {
    color: var(--main-grey-color);
}

.group-view-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 28px;
    padding: 4px;
}

.group-view-container .ant-radio-group span {
    color: var(--sub-grey-color3);
}

.group-view-container .group-view-radio-group .ant-radio-button-wrapper-checked.group-view-radio-item {
    border-color: var(--main-purple-color);
}

.group-view-container .ant-radio-button-wrapper-checked span {
    color: var(--main-purple-color);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before, .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: var(--main-purple-color);
}

.group-view-radio-item>span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.group-view-radio-item>span>img {
    height: 16px;
    width: 16px;
}

.custom-transfer-user-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.custom-transfer-user-button-container>div {
    height: 32px;
    box-sizing: border-box;
    padding: 6px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-transfer-user-button-container>div>img {
    width: 100%;
    height: 100%;
}

.group-policy-select-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.group-policy-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

.group-policy-items {
    padding: 6px 8px;
    box-sizing: border-box;
    font-size: .8rem;
    background-color: var(--sub-purple-color);
    color: var(--main-purple-color2);
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.group-policy-items > img {
    cursor: pointer;
    width: 18px;
    height: 18px;
    padding: 2px;
    box-sizing: border-box;
}

.custom-transfer-application-rp-user-count {
    font-size: .75rem;
    color: var(--sub-grey-color4);
    margin-left: 4px;
}

.custom-transfer-user-list-empty-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: var(--sub-grey-color4);
}