.custom-transfer-user-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}

.custom-transfer-user-content-box {
    width: 433.5px;
    height: 800px;
    border: 1px solid var(--sub-grey-color5);
    border-radius: 8px;
}

.custom-transfer-buttons-container>img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.custom-transfer-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.custom-transfer-user-content-header>span>b {
    color: var(--main-purple-color);
}

.custom-transfer-user-content-header {
    border-bottom: 1px solid black;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.custom-transfer-user-list-container {
    height: calc(100% - 88px);
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-transfer-user-list-search-container {
    height: 44px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-transfer-user-list-search-container>div>img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 16px;
}

.custom-transfer-user-list-search-container>div {
    padding: 6px 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.custom-transfer-user-list-search-container>div>input::placeholder {
    color: var(--main-grey-color-3);
    font-size: .8rem;
}

.custom-transfer-user-list-search-container>div>input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 34px;
    border-radius: 12px;
    border: 1px solid var(--main-purple-color);
    color: var(--main-grey-color-2);
}

.custom-transfer-user-search:focus {
    background-image: url('../../assets/groupSeaerchIconColor.png');
    border-color: var(--main-purple-color);
}

.custom-transfer-user-search {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    background-image: url('../../assets/groupSeaerchIcon.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 8px center;
    padding-right: 36px;
}

.custom-transfer-user-row {
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    color: var(--main-grey-color-2);
}

.custom-transfer-user-row-title-container {
    height: 32px;
    box-sizing: border-box;
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.custom-transfer-user-row-title-container>div {
    font-size: .9rem;
    color: var(--sub-grey-color4);
    cursor: pointer;
    border-radius: 8px;
    padding: 0 6px;
    flex: 1;
    user-select: none;
}

.custom-transfer-user-row-title-application-container>div {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 6px 0;
    box-sizing: border-box;
}

.custom-transfer-user-row-title-application-container img {
    width: 24px;
    height: 24px;
}

.custom-transfer-user-row-title-application-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 2px 6px;
    height: 100%;
    align-items: center;
    gap: 8px;
}

.custom-transfer-user-row-title-container>img[data-opened="true"] {
    transform: rotate(-90deg);
}

.custom-transfer-user-row-title-container>img {
    width: 28px;
    height: 28px;
    padding: 2px;
    box-sizing: border-box;
    transition: all .15s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.custom-transfer-user-row-child-container[data-opened="false"] {
    transition: all .001s ease-out;
    max-height: 0px;
}

.custom-transfer-user-row-child-container {
    overflow: hidden;
    max-height: 9999px;
    transition: all .5s ease-out;
}

.transfer-user-child-application-container {
    padding: 0 4px;
    border-radius: 8px;
}

.transfer-user-child-application-title:not(.application) {
    gap: 6px;
}

.transfer-user-child-application-title>img {
    height: 24px;
    width: 24px;
    user-select: none;
}

.transfer-user-child-application-title.application>img {
    padding: 4px;
    box-sizing: border-box;
}

.transfer-user-child-application-title>div {
    font-size: .8rem;
    color: var(--sub-grey-color4);
    user-select: none;
}

.transfer-user-child-application-title {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 0 6px;
}

.custom-transfer-user-row-child-container,
.transfer-user-child-rp-user-container {
    padding-left: 24px;
}

.custom-transfer-user-row-title-container>div:hover,
.transfer-user-child-application-title:hover,
.transfer-user-child-rp-user-title:hover {
    background-color: var(--sub-purple-color3);
}

.transfer-user-child-rp-user-title>img {
    width: 24px;
    height: 24px;
    padding: 4px;
    box-sizing: border-box;
    user-select: none;
}

.transfer-user-child-rp-user-title>div {
    font-size: .8rem;
    user-select: none;
    color: var(--sub-grey-color4);
}

.transfer-user-child-rp-user-title {
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: 0 6px;
    cursor: pointer;
}

.custom-transfer-user-row-title-container[data-selected="true"],
.custom-transfer-user-row-title-application-container[data-selected="true"],
.transfer-user-child-application-title[data-selected="true"],
.transfer-user-child-application-container[data-selected="true"],
.transfer-user-child-rp-user-title[data-selected="true"]>div {
    font-weight: bold;
    color: var(--main-purple-color);
}