.signup-field-container {
    border: none;
    padding: 0;
    margin: 0;
    & > label {
        display: inline-flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;
        margin-right: 12px;
        & > input {
            margin: 0;
        }
    }
}