.signup-field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.admin-need {
    transition: all .25s ease-out;
    height: 0px;
    overflow: hidden;
    &.visible {
        height: 46px;
    }
}